@charset "UTF-8";


@viewport{width: device-width;}

@media screen and(min-width:200px) {
	
}

@media all and (min-width:1024px){
	
}
@media all and (min-width:768px) and (max-width:1023px){
	
}
@media all and (max-width:767px){
	
}

@media all and (max-width:767px){
	
}
ul{
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

li{
	margin: 0 auto;
	list-style-type: none;
}

@media all and (min-width:1024px){
	
}
@media all and (min-width:768px) and (max-width:1023px){
	
}
@media all and (max-width:767px){
	
}